h1{
    font-size: larger;
    font-family: 'Sriracha', cursive;
}
.para1{font-size: larger;
    font-family: 'Coda Caption', sans-serif;
    f
}

h2{
    font-size: larger;
    font-family: 'Lacquer', sans-serif;
}
.para2{
    font-size: larger;
    font-family: 'Lobster', cursive;
    
}
h3{
    font-size: larger;
    font-family: 'Pacifico', cursive;
}
.para3{
    font-size: larger;
    font-family: 'Montserrat Subrayada', sans-serif;

}